In [3]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
%matplotlib inline
import warnings


import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [4]:
DATA_URL = "./data/"

In [6]:
data = pd.read_csv(DATA_URL + "adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
data['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

In [23]:
data.loc[data['sex'] == 'Female', 'age'].mean()

36.85823043357163

In [104]:
data['native-country' == 'Germany'].value_counts(normalize=True)

age  workclass         fnlwgt  education   education-num  marital-status      occupation       relationship   race                sex     capital-gain  capital-loss  hours-per-week  native-country  salary
18   ?                 85154   12th        8              Never-married       ?                Own-child      Asian-Pac-Islander  Female  0             0             24              Germany         <=50K     0.007299
46   Private           35961   Assoc-acdm  12             Divorced            Sales            Not-in-family  White               Female  0             0             25              Germany         <=50K     0.007299
45   Private           161954  Bachelors   13             Never-married       Prof-specialty   Not-in-family  White               Female  0             0             40              Germany         <=50K     0.007299
                       174794  Bachelors   13             Separated           Prof-specialty   Unmarried      White               Female  0             0             56              Germany         <=50K     0.007299
                       204057  Bachelors   13             Divorced            Adm-clerical     Unmarried      White               Female  0             0             40              Germany         <=50K     0.007299
                                                                                                                                                                                                                  ...
30   Private           318749  Assoc-voc   11             Married-civ-spouse  Tech-support     Wife           White               Female  0             0             35              Germany         <=50K     0.007299
                       116508  HS-grad     9              Married-civ-spouse  Craft-repair     Husband        White               Male    0             0             40              Germany         <=50K     0.007299
                       111415  HS-grad     9              Married-civ-spouse  Other-service    Husband        White               Male    0             0             55              Germany         <=50K     0.007299
                       77143   Bachelors   13             Never-married       Exec-managerial  Own-child      Black               Male    0             0             40              Germany         <=50K     0.007299
74   Self-emp-not-inc  199136  Bachelors   13             Widowed             Craft-repair     Not-in-family  White               Male    15831         0             8               Germany         >50K      0.007299
Name: proportion, Length: 137, dtype: float64

In [41]:
lstd = data[data['salary'] == '<=50K']
lstd['age'].describe()

count    24720.000000
mean        36.783738
std         14.020088
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

In [47]:
gstd = data[data['salary'] == '>50K']
gstd['age'].describe()

count    7841.000000
mean       44.249841
std        10.519028
min        19.000000
25%        36.000000
50%        44.000000
75%        51.000000
max        90.000000
Name: age, dtype: float64

In [50]:
gstd['education'].value_counts(normalize=True)

education
Bachelors       0.283255
HS-grad         0.213621
Some-college    0.176891
Masters         0.122306
Prof-school     0.053947
Assoc-voc       0.046040
Doctorate       0.039026
Assoc-acdm      0.033797
10th            0.007907
11th            0.007652
7th-8th         0.005101
12th            0.004209
9th             0.003443
5th-6th         0.002041
1st-4th         0.000765
Name: proportion, dtype: float64

In [56]:
data.groupby(["sex", "race"]).describe()

                               age                                          \
                             count       mean        std   min   25%   50%
sex    race
Female Amer-Indian-Eskimo    119.0  37.117647  13.114991  17.0  27.0  36.0
       Asian-Pac-Islander    346.0  35.089595  12.300845  17.0  25.0  33.0
       Black                1555.0  37.854019  12.637197  17.0  28.0  37.0
       Other                 109.0  31.678899  11.631599  17.0  23.0  29.0
       White                8642.0  36.811618  14.329093  17.0  25.0  35.0
Male   Amer-Indian-Eskimo    192.0  37.208333  12.049563  17.0  28.0  35.0
       Asian-Pac-Islander    693.0  39.073593  12.883944  18.0  29.0  37.0
       Black                1569.0  37.682600  12.882612  17.0  27.0  36.0
       Other                 162.0  34.654321  11.355531  17.0  26.0  32.0
       White               19174.0  39.652498  13.436029  17.0  29.0  38.0

                                         fnlwgt                                \
                             75%   max    count           mean            std
sex    race
Female Amer-Indian-Eskimo  46.00  80.0    119.0  112950.731092   93207.974077
       Asian-Pac-Islander  43.75  75.0    346.0  147452.075145   76401.627757
       Black               46.00  90.0   1555.0  212971.387781  109971.263983
       Other               39.00  74.0    109.0  172519.642202   77766.666801
       White               46.00  90.0   8642.0  183549.966906  101710.294874
Male   Amer-Indian-Eskimo  45.00  82.0    192.0  125715.364583   85063.251595
       Asian-Pac-Islander  46.00  90.0    693.0  166175.865801   88552.952600
       Black               46.00  90.0   1569.0  242920.644997  134145.970948
       Other               42.00  77.0    162.0  213679.104938   92187.362738
       White               49.00  90.0  19174.0  188987.386148  103714.598850

                                                                               \
                               min        25%       50%        75%        max
sex    race
Female Amer-Indian-Eskimo  12285.0   31387.00   87950.0  163027.50   445168.0
       Asian-Pac-Islander  19914.0   86879.25  131986.0  175705.75   379046.0
       Black               19752.0  142666.50  193553.0  253759.00   930948.0
       Other               24562.0  119890.00  171199.0  219441.00   388741.0
       White               19395.0  115914.75  175810.5  224836.50  1484705.0
Male   Amer-Indian-Eskimo  13769.0   48197.75  113091.0  182656.00   356015.0
       Asian-Pac-Islander  14878.0   98350.00  147719.0  200117.00   506329.0
       Black               21856.0  156410.00  221196.0  298601.00  1268339.0
       Other               25610.0  150726.75  208516.5  253334.75   481175.0
       White               18827.0  117381.00  178662.5  236858.75  1455435.0

                          education-num                                       \
                                  count       mean       std  min  25%   50%
sex    race
Female Amer-Indian-Eskimo         119.0   9.697479  2.334540  2.0  9.0  10.0
       Asian-Pac-Islander         346.0  10.390173  2.796647  1.0  9.0  10.0
       Black                     1555.0   9.549839  2.207815  1.0  9.0   9.0
       Other                      109.0   8.899083  3.027482  2.0  7.0   9.0
       White                     8642.0  10.127980  2.368115  1.0  9.0  10.0
Male   Amer-Indian-Eskimo         192.0   9.072917  2.268587  2.0  9.0   9.0
       Asian-Pac-Islander         693.0  11.245310  2.777463  1.0  9.0  11.0
       Black                     1569.0   9.423199  2.382841  1.0  9.0   9.0
       Other                      162.0   8.802469  3.361897  1.0  8.0   9.0
       White                    19174.0  10.138521  2.656464  1.0  9.0  10.0

                                      capital-gain                             \
                            75%   max        count         mean           std
sex    race
Female Amer-Indian-Eskimo  11.0  16.0        119.0   544.605042   2451.591587
       Asian-Pac-Islander  13.0  15.0        346.0   778.436416   7675.228631
       Black               10.0  16.0       1555.0   516.593569   5312.749129
       Other               10.0  14.0        109.0   254.669725   1317.326460
       White               12.0  16.0       8642.0   573.610391   4763.131649
Male   Amer-Indian-Eskimo  10.0  16.0        192.0   675.260417   2929.745443
       Asian-Pac-Islander  13.0  16.0        693.0  1827.813853  10947.525528
       Black               10.0  16.0       1569.0   702.454430   4962.113183
       Other               10.0  16.0        162.0  1392.185185  11093.711595
       White               13.0  16.0      19174.0  1368.674455   8442.830669

                                                       capital-loss  \
                           min  25%  50%  75%      max        count
sex    race
Female Amer-Indian-Eskimo  0.0  0.0  0.0  0.0  15024.0        119.0
       Asian-Pac-Islander  0.0  0.0  0.0  0.0  99999.0        346.0
       Black               0.0  0.0  0.0  0.0  99999.0       1555.0
       Other               0.0  0.0  0.0  0.0   7688.0        109.0
       White               0.0  0.0  0.0  0.0  99999.0       8642.0
Male   Amer-Indian-Eskimo  0.0  0.0  0.0  0.0  27828.0        192.0
       Asian-Pac-Islander  0.0  0.0  0.0  0.0  99999.0        693.0
       Black               0.0  0.0  0.0  0.0  99999.0       1569.0
       Other               0.0  0.0  0.0  0.0  99999.0        162.0
       White               0.0  0.0  0.0  0.0  99999.0      19174.0

                                                                               \
                                 mean         std  min  25%  50%  75%     max
sex    race
Female Amer-Indian-Eskimo   14.462185  157.763811  0.0  0.0  0.0  0.0  1721.0
       Asian-Pac-Islander   50.852601  296.529225  0.0  0.0  0.0  0.0  2258.0
       Black                45.450804  299.099591  0.0  0.0  0.0  0.0  4356.0
       Other                36.284404  231.796929  0.0  0.0  0.0  0.0  1740.0
       White                65.390535  352.330817  0.0  0.0  0.0  0.0  4356.0
Male   Amer-Indian-Eskimo   46.395833  286.562584  0.0  0.0  0.0  0.0  1980.0
       Asian-Pac-Islander  120.373737  472.917697  0.0  0.0  0.0  0.0  2457.0
       Black                75.186106  370.976546  0.0  0.0  0.0  0.0  2824.0
       Other                77.746914  370.986720  0.0  0.0  0.0  0.0  2179.0
       White               102.261343  434.156936  0.0  0.0  0.0  0.0  3770.0

                          hours-per-week                                   \
                                   count       mean        std  min   25%
sex    race
Female Amer-Indian-Eskimo          119.0  36.579832  11.046509  4.0  35.0
       Asian-Pac-Islander          346.0  37.439306  12.479459  1.0  35.0
       Black                      1555.0  36.834084   9.419960  2.0  35.0
       Other                       109.0  35.926606  10.300761  6.0  30.0
       White                      8642.0  36.296691  12.190951  1.0  30.0
Male   Amer-Indian-Eskimo          192.0  42.197917  11.596280  3.0  40.0
       Asian-Pac-Islander          693.0  41.468975  12.387563  1.0  40.0
       Black                      1569.0  39.997451  10.909413  1.0  40.0
       Other                       162.0  41.851852  11.084779  5.0  40.0
       White                     19174.0  42.668822  12.194633  1.0  40.0


                            50%   75%   max
sex    race
Female Amer-Indian-Eskimo  40.0  40.0  84.0
       Asian-Pac-Islander  40.0  40.0  99.0
       Black               40.0  40.0  99.0
       Other               40.0  40.0  65.0
       White               40.0  40.0  99.0
Male   Amer-Indian-Eskimo  40.0  45.0  84.0
       Asian-Pac-Islander  40.0  45.0  99.0
       Black               40.0  40.0  99.0
       Other               40.0  40.0  98.0
       White               40.0  50.0  99.0

In [76]:
data.loc[data['salary'] == '>50K', 'marital-status'].value_counts()

marital-status
Married-civ-spouse       6692
Never-married             491
Divorced                  463
Widowed                    85
Separated                  66
Married-spouse-absent      34
Married-AF-spouse          10
Name: count, dtype: int64

In [81]:
data["hours-per-week"].describe()

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

In [89]:
data.loc[data['hours-per-week'] == 99, 'salary'].value_counts(normalize=True)

salary
<=50K    0.705882
>50K     0.294118
Name: proportion, dtype: float64

In [102]:
data.groupby(['salary', data['native-country'] == 'Japan']).describe()

                           age                                           \
                         count       mean        std   min    25%   50%
salary native-country
<=50K  False           24682.0  36.785998  14.026045  17.0  25.00  34.0
       True               38.0  35.315789   9.392652  19.0  29.00  34.0
>50K   False            7817.0  44.254062  10.528483  19.0  36.00  44.0
       True               24.0  42.875000   6.771504  33.0  37.75  41.0

                                     fnlwgt                                \
                         75%   max    count           mean            std
salary native-country
<=50K  False           46.00  90.0  24682.0  190330.239486  106477.610777
       True            41.00  61.0     38.0  197242.526316  110715.684538
>50K   False           51.00  90.0   7817.0  188068.158629  102446.569957
       True            47.25  56.0     24.0  167433.708333  131000.388697

                                                                          \
                           min        25%       50%       75%        max
salary native-country
<=50K  False           12285.0  117605.25  179474.5  239008.5  1484705.0
       True            29807.0  136372.25  167426.0  249460.0   536725.0
>50K   False           14878.0  119199.00  176157.0  230959.0  1226583.0
       True            22201.0   81099.75  124334.0  195285.0   586657.0

                      education-num                                         \
                              count       mean       std  min    25%   50%
salary native-country
<=50K  False                24682.0   9.593347  2.436582  1.0   9.00   9.0
       True                    38.0  10.710526  1.844025  9.0   9.00  10.0
>50K   False                 7817.0  11.608673  2.384752  2.0  10.00  12.0
       True                    24.0  12.583333  2.357535  6.0  12.75  13.0

                                  capital-gain                             \
                        75%   max        count         mean           std
salary native-country
<=50K  False           10.0  16.0      24682.0   148.671299    963.494566
       True            13.0  14.0         38.0   201.473684    702.340248
>50K   False           13.0  16.0       7817.0  3999.226430  14549.819979
       True            14.0  16.0         24.0  6258.750000  20485.668768

                                                       capital-loss  \
                       min  25%  50%      75%      max        count
salary native-country
<=50K  False           0.0  0.0  0.0     0.00  41310.0      24682.0
       True            0.0  0.0  0.0     0.00   2885.0         38.0
>50K   False           0.0  0.0  0.0     0.00  99999.0       7817.0
       True            0.0  0.0  0.0  1196.75  99999.0         24.0

                                                                           \
                             mean         std  min  25%  50%  75%     max
salary native-country
<=50K  False            53.160319  310.834197  0.0  0.0  0.0  0.0  4356.0
       True             41.842105  257.932060  0.0  0.0  0.0  0.0  1590.0
>50K   False           195.347320  595.966450  0.0  0.0  0.0  0.0  3683.0
       True             82.375000  403.553435  0.0  0.0  0.0  0.0  1977.0

                      hours-per-week                                          \
                               count       mean        std   min   25%   50%
salary native-country
<=50K  False                 24682.0  38.836885  12.319566   1.0  35.0  40.0
       True                     38.0  41.000000  11.902759  10.0  40.0  40.0
>50K   False                  7817.0  45.465396  10.994281   1.0  40.0  40.0
       True                     24.0  47.958333  16.120414  21.0  40.0  42.5


                        75%   max
salary native-country
<=50K  False           40.0  99.0
       True            41.5  65.0
>50K   False           50.0  99.0
       True            50.0  99.0